body{
    height: 100vh;
}
#root{
    /* height: 100%; */
    align-items: center;
    display: grid;
    align-items: center;
    margin-top: 4%;
}
/* intro  */
#intro{
    margin: auto;
    width: 80%;
    border: 1px solid rgb(58, 91, 236);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    box-shadow: 3px 3px 15px 15px rgb(58, 91, 236);
}
/* intro img  */
#intro>img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 3%;
}

/* hey there txt  */
#intro>h2{
    background-color: rgb(240, 248, 255);
    color: rgb(162, 98, 14);
    border-radius: 3px;
    box-shadow: 2px 2px 2px white;
    margin-bottom: 3%;
}

/* typewriter animation */
.tx{
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-right: 1px solid white;
    transition: all ease-in-out;
    animation: hi 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    height: 1.25em;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 3%;
}
@keyframes hi{
    from{
        width: 0%;
    }
    to{
        width:100%;
    }
}
/* brief info */
.brief{
    box-shadow: 2px 2px 3px 3px white;
    background-color: whitesmoke;
    font-size: 18px;
    font-weight: 10;
    padding: 0.3%;
    margin-bottom: 3%;
}
/* icons intro  */
.icons img{
    width: 40px;
    height: 40px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-top: 0.5%;
    margin-bottom: 2%;
}
.icons img:hover{
    animation: shake 2s;
    transition: all ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes shake {
    from{
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(20deg);
    }
}
/* dropbar */
#dropbar{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#dropbar button{
    border: 2px solid rgb(69, 69, 218);
    box-shadow: 1px 1px 7px 7px rgb(83, 83, 227);
    transition: all ease-in-out;
    animation: int 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 5px;
    width: 10rem;
    height: 2.5rem;
    background-color: rgba(23, 18, 52, 0.641);
    color: aliceblue;
}
@keyframes int {
    from{
        box-shadow: 1px 1px 7px 7px rgb(58, 91, 236);
    }
    to{
        box-shadow: 1px 1px 1px 1px rgb(58, 91, 236);
    }
}
#dropbar button:hover{
    animation: sca 0.4s;
    animation-fill-mode: forwards;
}
@keyframes sca {
    from{}
    to{
        transform: scale(1.5);
    }

}

/* skills */
#skills{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
#skills h1{
    margin-top: 1%;
    color: azure;
    margin-bottom: 2%;
    background-color: rgb(36, 153, 151);
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}
.lang p{
    color: white;
    font-size: 18px;
    margin-bottom: 0;
}
#skills img{
    width: 100px;
    height: 100px;
    fill: black;
    border-radius: 5px;

}
.lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2%;
    background-color: rgba(141, 184, 225, 0.675);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1%;
    justify-content: space-between;
}
.skillset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.lang:hover{
    transform: scale(1.3);
}
/* projects */
#projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.pro{
    border: 2px solid rgb(164, 148, 104);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    margin-top: 1%;
    box-shadow: 0.5px 0.5px 1px 1px rgb(229, 131, 131);
    background-color: rgb(255, 255, 255);
    animation: pr 2s;
    transition: all ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.pro img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.pro>p{
    width: 340px;
    height: 110px;
    margin-left: 2%;
    text-align: start;
}
h1{
    text-align: center;
    color: blanchedalmond;
}
.link{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.pro h4{
    padding-left: 1vw;
    color: rgb(53, 127, 127);
}
.link>a>img{
    width: 100px;
    height: 50px;
}
.link>a>img:hover{
    background-color: black;
    padding: 5%;
}
.link>a>button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color:azure ;
    font-weight: 500;
}
.link>a>button:hover{
    background-color: black;
    color: azure;
}
@keyframes pr{
    from{
        transform: scale(1.02);
    }
    to{

    }
}
/* experience */
#experience{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flipcard{
    background-color: transparant;
    perspective: 1500px; 
    margin: 2%;
}
.inner{
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flipcard:hover .inner{
    transform: rotateY(180deg);
}
.front,.back{
    border-radius: 5px;
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden;
}
.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(76, 180, 180);
    width: 25vw;
    height: 55vh;
}
.back{
    background-color: rgba(197, 200, 105, 0.897);
    color: rgb(139, 7, 113);
    transform: rotateY(180deg);
    width: 25vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.back>h4{
    padding: 2%;
    color: blue;
}
.front>img{
    border-top-right-radius:5px ;
    border-top-left-radius: 5px;
    width: 25vw;
    height: 50vh;
}
.back li{
    font-size: 20px;
    list-style: square;
}
/* contact */
#contact{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.chose{
    border: 2px solid white;
    width: 40%;
    background-color: bisque;
    border-radius: 5px;
    padding: 2%;
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.chose h2{
    background-color: rgb(7, 85, 163);
    border-radius: 5px;
    padding: 2%;
    width: fit-content;
    color: blanchedalmond;
    box-shadow: 1px 1px 5px 1px black;
}
.chose p{
    font-size: 20px;
    font-family: monospace;
}
.cont{
    height: 80vh;
    width: 40%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(9, 140, 227);
}
.cont form{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
.cont form label{
    margin-bottom: 2%;
    font-size: 18px;
    letter-spacing: 2px;
}
.cont form input{
    margin-bottom: 2%;
    border:0 ;
    background-color: rgb(1, 27, 44);
    border-radius: 5px;
    color: rgb(0, 162, 255);
}
.cont{
    display: flex;
    flex-direction: column;
}
.cont img{
    align-self: center;
}
.cont form textarea{
    margin-bottom: 2%;
    border-radius: 5px;
    background-color: rgb(1, 27, 44);
    resize: none;
    border: none;
    color: burlywood;
}
.cont form input::placeholder{
    color: azure;
}
.cont form textarea::placeholder{
    color: azure;
}
.cont form button{
    border-radius: 5px;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
    margin-bottom: 2%;
    align-self: center;
    
}
.cont form button:hover{
    transform: scale(1.1);
}
/* media queries */
@media (max-width:431px) and (min-width:319px){
    .tx{
        font-size: 16px;
    }
    #intro{
        margin-top: 12%;
        margin-bottom: 10%;
        padding: 5% 0;
    }
    #intro>img{
        width: 100px;
        height: 100px;
    }
    .brief{
        width: 85%;
        text-align: center;
        font-size: 16px;
    }
    .icons{
        width: 100%;
        margin: 1%;
        padding: 5%;
    }
    #dropbar{
        flex-direction: column;
        align-items: center;
    }
    #dropbar a{
        margin-bottom: 3%;
    }
    @keyframes sca {
        from{}
        to{
            transform: scale(1.2);
        }
    
    }
    .lang:hover{
        transform: scale(1.1);
    }
    #projects{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .pro{
        width: fit-content;
        margin-bottom: 30px;
    }
    .pro img{
        width: 280px;
        height: 200px;
    }
    .pro p{
        width: 280px;
        height: 100px;
    }
    #experience{
        flex-direction: column;

    }

    .front{
        margin-left: 10%;
    }
    .front,.back{
        width: 80%;
        height: 100%;
    }
    .back{
        margin: auto;
    }
    .back ul li{
        font-size: 20px;
    }
    .flipcard{
        display: block;
    }
   .front img{
        width: 100%;
        height: 80%;
   }
   .back li{
    font-size: 16px;
   }
   .flipcard h4{
    font-size: 18px;
   }
   .flipcard h3{
    font-size: 20px;
   }
   #contact{
    flex-direction: column;
   }
   .chose,.cont{
        width: 90%;
        height: 100%;
   }
   .chose{
    margin-bottom: 3%;
   }
   .chose p{
    font-size: 16px;
   }

}
